{{> header}}
<!-- Navigation -->
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 toppad pull-left" style="margin-top: 4em;">
		  <h3 >Get the Weather forecast</h3>
		  <div class="">
		    <div class="input-group">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button">Go!</button>
		      </span>
		      <input type="text" class="form-control" placeholder="Write your address">
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		</div>
	</div><!-- /.row -->
</div>

<!-- Page Content -->

{{> footer}}
